.wrapper{
    height: 500px;
    width: 100%;
    
}

.bodl{
    height: 60%;
    width: 33%;
    background-color: forestgreen;
    float: left;
    margin-bottom: 5px;
}

.bodm{
   height: 60%;
    width: 33%;
    background-color: aqua;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}

.bodr{
    height: 60%;
    width: 33%;
    background-color:  beige;
    float: right;
    margin-bottom: 5px;
}

.hoo{
    height: 9%;
    width: 100%;
    background-color: coral;
    float: left;
    
}

.nav{
    height: 30%;
    width: 100%;
    background-color: darkorchid;
    margin-bottom: 5px;
}

.center{
    text-align: center;
    padding-top:50px;

}

.center1{
    text-align: center;
    padding-top:80px;
    text-decoration: underline;

}